@import "../../asset/scss/lib.scss";

.header {

    position: fixed; z-index: 99999; top: 0; left: 0; width: 100%; color: #fff; transition: .4s; transition-property: background;

    ._k_wrap {
        display: flex; justify-content: space-between; height: 75px; align-items: center;
    }

    .logo {
        position: relative; z-index: 3; filter: invert(1);
    }

    .gnb {
        display: flex; height: 100%; font-weight: 500; font-size: 16px; position: absolute; left: 50%; transform: translateX(-50%);
        a {
            padding: 0 1em; height: 100%; display: flex; align-items: center;
        }
    }

    .sbx {
        display: flex; align-items: center;
    }

    .snb {
        display: flex; align-items: center;
        .icon {
            font-size: 24px; position: relative;

            p {
                position: absolute; right: 0; top: 0; background: red; color: #fff; font-size: 10px; width: 12.5px; height: 12.5px; display: flex; align-items: center; justify-content: center; border-radius: 1000px; overflow: hidden; transform: translate(25%,-25%);
            }

            + .icon {
                margin-left: 15/24*1em;
                svg {
                    vertical-align: middle;  cursor: pointer;
                }
            }

            .dep2 {
                position: absolute; font-size: 14px; left: 50%; top: 100%; margin-top: 15px; transform: translate(-50%,0); display: none; color: #000;
                .up {
                    position: absolute; top: 0; left: 50%; transform: translate(-50%,-75%); z-index: 3;
                }

                ul {
                    position: relative; z-index: 2; background: #fff; padding: 0.75em 1em; white-space: nowrap; border: 1px solid #ddd; text-align: center; border-radius: 5px;
                    li {
                        + li {
                            margin-top: 0.5em;
                        }
                    }
                }

            }

        }
    }

    .menu {
        position: relative; width: 23px; height: 13px; margin-left: 40px; cursor: pointer; z-index: 3;
        span {
            position: absolute; left: 0; top: 0; width: 100%; transform: translateY(-50%);
            background: #fff; display: block; height: 2px;

            &:nth-of-type(2) {
                top: 50%;
            }

            &:nth-of-type(3) {
                top: 100%;
            }

        }
    }


    .full-menu {
        position: fixed; right: 0; top: 0; height: 100%; width: 85%; background: #fff; border-left: 1px solid #ddd; max-width: 480px; display: none;
    }


    &.sub {
        background: #fff; color: #000; border-bottom: 1px solid #000;

        .logo {
            filter: none;
        }

        .menu {
            span {background: #000;}
        }
    }

    &.scroll {
        background: #fff; color: #000; border-bottom: 1px solid #000;

        .logo {
            filter: none;
        }

        .menu {
            span {background: #000;}
        }
    }


    @include max(1024){

        .gnb {
            display: none;
        }

    }

    @include max(820){

        ._k_wrap {
            height: 60px;
        }

        .menu {
            margin-left: 20px;
        }

    }

}