@import "./lib.scss";

html::-webkit-scrollbar {width: 6px;}
html::-webkit-scrollbar-thumb {background-color: #2f3542; border-radius: 10px;}
*::-webkit-scrollbar {width: 6px;}
*::-webkit-scrollbar-thumb {background-color: #2f3542; border-radius: 10px;}

._k_wrap {
    width: 95%; margin: 0 auto; position: relative;
    &[data-max="1600"]{
        max-width: 1660px;
    }
    &[data-max="1480"]{
        max-width: 1480px;
    }
    &[data-max="1280"]{
        max-width: 1280px;
    }
    &[data-max="850"]{
        max-width: 850px;
    }
}

html,
body {
    font-family: "Pretendard"; letter-spacing: -0.045em;
}

input {
    padding: 0 0.5em; box-sizing: border-box;
}
input,button {
    font-family: "Pretendard"; letter-spacing: -0.045em;
}

.t-title {
    font-size: 32px; margin-bottom: 75/32*1em; font-weight: bold; text-align: center;

    @include max(480){
        font-size: 24px;
    }
}