@import "../../asset/scss/lib.scss";

._cart {

    padding-top: 75px;

    ._k_wrap {

        padding: 100px 0;

    }

    .grid-table {

        border-top: 2px solid #000; border-bottom: 1px solid #ddd;

        .h-col {
            display: grid; grid-template-columns: 50px auto 10% 10% 10%; align-items: center; text-align: center;
            + .h-col {
                border-top: 1px solid #ddd;
            }
            &.head {
                font-weight: 600;
            }
        }

        .col {
            padding: 15px; box-sizing: border-box;

            .flay {
                .all-amount {
                    display: none;
                }
            }

            .check {
                input {
                    display: none;
                    &:checked ~ label {
                        background: #26a8e0; color: #fff; border-color: #26a8e0;
                    }
                }
                label {
                    width: 15px; height: 15px; border: 1px solid #ddd; display: block; position: relative; cursor: pointer; box-sizing: border-box; margin: 0 auto;
                    svg {
                        position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
                    }
                }

            }

            .fl {
                display: flex; align-items: center;

                .img {
                    background: no-repeat center/cover; width: 150px; border-radius: 5px;
                    &::after {
                        content: ''; display: block; padding-bottom: 100%;
                    }
                }

                .tbx {
                    margin-left: 20px; text-align: left;

                    dl {
                        dt {
                            font-size: 16px; font-weight: bold;
                        }
                        dd {
                            font-size: 12px; color: #555; margin-top: 5px;
                        }
                    }

                    button {
                        margin-top: 5px; background: #000; border: 0; color: #fff; padding: 0.5em 1em;
                        cursor: pointer;
                    }

                }

            }

            p.sale {
                font-size: 14px; text-decoration: line-through; color: #555; white-space: nowrap;
            }

            p.price {
                font-weight: bold; white-space: nowrap;
                .color00 {
                    color: #e02626;
                }
            }

            .amount {
                display: flex; justify-content: center;
                button {
                    width: 25px; height: 25px; background: #fff; border: 1px solid #000; cursor: pointer;
                    &:nth-of-type(1) {
                        border-right: 0;
                    }
                    &:nth-of-type(2){
                        border-left: 0;
                    }
                }
                input {
                    min-width: 0; border: 1px solid #000; border-left: 0; border-right: 0; 
                    width: 50px; text-align: center;
                }
            }

            .delete {
                background: #e02626; color: #fff; border: 0; padding: 0.5em 1em; cursor: pointer;
                white-space: nowrap;
            }

            .p-col {
                display: none;
            }

        }

    }
    
    .allPrice {
        display: flex; align-items: center; justify-content: flex-end; align-items: center; margin-top: 25px;
        font-size: 16px;
        h2 {
            margin-left: 15px;
            span {
                font-size: 24px; font-weight: bold;
            }
        }
    }

    .btnList {
        display: flex; justify-content: flex-end; margin-top: 25px;
        button {
            border: 1px solid #000; width: 125/16+em; height: 40/16+em; font-weight: bold;
            cursor: pointer; font-size: 16px;
            + button {
                margin-left: 20px;
            }
            &.color0 {
                background: #e02626; color: #fff; border-color: #e02626;
            }
            &.color1 {
                background: #000; color: #fff;
            }

        }
    }

    @include max(1280){

        .grid-table {
            .h-col {
                grid-template-columns: 50px auto 15% 15% 15%; font-size: 14px;
            }

            .col {
                padding: 15px 10px;
                .fl {
                    .img {
                        width: 100px;
                    }
                }
            }
        }

    }

    @include max(820) {
        padding-top: 50px;

        .grid-table {

            .h-col {
                text-align: left;

                &.head {
                    grid-template-columns: 1fr;
                    .col {
                        display: none; padding: 0;
                        &:nth-of-type(1) {
                            display: block;
                        }
                    }
                }

                &:not(.head){
                    grid-template-columns: 50px 1fr 1fr;
                    .col {
                        grid-column: 2/4;

                        &:nth-of-type(1) {
                            grid-column: 1;
                        }

                    }
                }

                .col {

                    +.col {
                        padding-top: 0;
                    }

                    &:nth-of-type(2) {
                        padding-top: 15px;
                    }

                    &.amountCol,
                    &.priceCol {
                        display: flex; align-items: center;
                    }

                    .p-col {
                        font-size: 14px; font-weight: 500; margin-right: 15px; flex: 0 0 auto; display: block;
                    }

                    .amount {
                        justify-content: flex-start; flex: 1; max-width: 150px;
                        input {
                            width: 100%;
                        }
                    }

                    .flay {
                        display: grid; width: 100%; padding: 15px 0; grid-template-columns: 50px 1fr;
                        .all-amount {
                            display: block; margin-left: 10px;
                        }
                    }

                    .delete {
                        display: none;
                    }

                }

            }

        }

    }

    @include max(480) {
        .btnList {
            button {
                font-size: 14px;
            }
        }
    }

}