@import "../../asset/scss/lib.scss";

.cardLayout {

    display: grid; font-size: 18px; 

    .item {

        overflow: hidden;

        .img {
            position: relative; overflow: hidden; border-radius: em(5,18); cursor: pointer; border: 1px solid #eee;
            .bg {
                position: absolute; left: 0; top: 0; width: 100%; height: 100%; transition: transform .4s; background: no-repeat center; z-index: 2; background-size: auto 100%;
            }
            
            &::after {
                content: ''; display: block; padding-bottom: 400/265*100%;
            }

            &:hover {
                .bg {
                    transform: scale(1.1);
                }
            }
        }

        .tbx {

            padding: em(15,18) 0 0 0; font-size: 16px;

            .tit {
                font-weight: bold; font-size: 18/16*1em;
            }
            
            .price {
                font-size: 1em; margin-top: em(10,18); font-weight: 500;
                .sales {
                    text-decoration: line-through; font-size: em(14,18); color: #555; font-weight: 300;
                }
                .color00 {
                    color: #e02626;
                }
            }

            .des {
                display: -webkit-box; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis;
                -webkit-box-orient: vertical; height: 3em; line-height: 1.5em; font-size: em(14,18);margin-top: 0.5em; color: #555; white-space: pre-line
            }

            .icon {
                margin-top: em(5,18); cursor: pointer; display: inline-block;
            }

        }

    }


    @include max(820){

        font-size: 16px;

    }

}